version: "3"
services:

    redis_pubsub:
        build:
            context: .
            dockerfile: Dockerfile
        image: allocation-image
        depends_on:
            - mysql
            - redis
        environment:
            - MYSQL_HOST=mysql
            - MYSQL_PASSWORD=abc123
            - REDIS_HOST=redis
            - PYTHONWRITEBYTECODE=1
        volumes:
            - ./src:/src
            - ./tests:/tests
        entrypoint:
            - python
            - /src/allocation/entrypoints/redis_eventconsumer.py

    api:
        image: allocation-image
        depends_on:
            - redis_pubsub
        environment:
            - MYSQL_HOST=mysql
            - MYSQL_PASSWORD=abc123
            - REDIS_HOST=redis
            - FLASK_APP=allocation/entrypoints/flask_app.py
            - FLASK_DEBUG=1
            - PYTHONBUFFERED=1
            - API_HOST=api
        volumes:
            - ./src:/src
            - ./tests:/tests
        entrypoint:
            - flask
            - run
            - --host=0.0.0.0
            - --port=80
        ports:
            - "5005:80"

    mysql:
        image: mysql:5.7
        environment:
            - MYSQL_ROOT_PASSWORD=abc123
            - MYSQL_DATABASE=allocation
        ports:
            - "33060:3306"

    redis:
        image: redis:alpine
        ports:
            - "63791:6379"
